* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

body{
  display: flex;
  flex-direction: column;
}

header{
  width: 100vw;
  background-color: lightblue;
}

.lista{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itemLista{
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
}