* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

body{
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

header{
  width: 100vw;
  background: linear-gradient(gray , lightgray);
  text-align: center;
  padding: 20px 20px auto;
  margin-bottom: 20px;
  font-size: 2.2rem;
}

#lista{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

li{
  display: flex;
  flex-direction: column;
  width: 45vw;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 10px;
  align-items: center;
  padding: 15px;
}

li h5{
  font-size: 2rem;
}

li img{
  width: 20vw;
}

footer{
  width: 100vw;
  margin-top: auto;
  background: linear-gradient( lightgray, gray);
  text-align: center;
  padding-top: 5px;
}

footer p{
  margin: 5px;
}